.edit_post {
    text-align: center;
}
    
.edit_post p {
    color: #140f0f;
    font-family: 'Inter', sans-serif;
    margin: 20px 0 15px 0;
}

.edit_post .preview_title {
    margin-bottom: .4em;
    color:  #140f0f;
    font-weight: bold;
}

.edit_post .image_preview {
    max-width: 100%;
    margin-bottom: 1em;
}